@media (max-width: 767px)
	.section

		section

			.center-row
				padding-top 200px
				padding-bottom 200px

				.section-title

					h1
						font-size 2.8em

					p
						font-size 1.2em
						padding 0 15px

	.homesection
		background url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg') no-repeat
		background-size cover

		video
			display none

	.a_btn
		height 65px
		padding 20px 22px 0px
		margin 10px 25px
		display inline-block

		&:before
			height 65px
			border-top 32px solid transparent
			border-bottom 32px solid rgba($white,0.45)
			border-right 210px solid transparent
			border-left 210px solid rgba($white,0.45)

		&:after
			height 65px
			border-top 32px solid rgba($white,0.45)
			border-bottom 32px solid transparent
			border-right 210px solid rgba($white,0.45)
			border-left 210px solid transparent

	nav

		&.navbar
			height auto
			margin-bottom 0
			overflow hidden
			transition 1s all

			#logo
				display none !important
				left 2% !important
				top 2% !important

			.container
				height 100%

				.navbar-collapse
					height calc(100% - 50px) !important
					opacity 0
					overflow auto
					transition 0.5s opacity

					ul

						li

							a
								font-size 22px
								padding-top 15px !important
								padding-bottom 15px !important

					&.in
						opacity 1

			&:after
				top 0
				right 0
				min-height 0%
				min-width 0%
				border-bottom-left-radius 100%
				background-color $black
				opacity 0
				transition 1s all

			&.open
				height 100%

				#logo
					display block !important

			&.openAnimation

				&:after
					opacity 1
					min-height 150%
					min-width 150%

	.secondpage

		.header
			background-image none !important
			height 300px !important

			.title
				position absolute !important
				top 50% !important
				transform translateY(-50%)

		.body

			.info

				article

					.col1
					.col2
						width 100%
						float none !important
						left auto
						position relative
						top auto
						transform translateY(0)

					.col1

						.text
							width auto
							margin 100px 30px

	.footer
		height auto

		.container

			.footer-portfolio
				text-align center !important

			.footer-copyr-powered
				margin 20px 0 0 0 !important

	#brifeanos

		.modal-body
			display block !important

@media (min-width: 768px)
	.section

		section

			.bottom-row
				position absolute
				bottom 0px

			.center-row
				position absolute
				top 50%
				transform translateY(-50%)

				.section-title

					h1
						font-size 4em

					p
						font-size 1.6em
						padding 0 100px

	.a_btn
		height 65px
		padding 20px 32px 0px
		margin 0 30px
		display inline-block

		&:before
			height 65px
			border-top 32px solid transparent
			border-bottom 32px solid rgba($white,0.45)
			border-right 210px solid transparent
			border-left 210px solid rgba($white,0.45)

		&:after
			height 65px
			border-top 32px solid rgba($white,0.45)
			border-bottom 32px solid transparent
			border-right 210px solid rgba($white,0.45)
			border-left 210px solid transparent

	nav

		&.navbar

			&:after
				background-linear-gradient3d(to bottom, #000000, 0%, rgba(0, 0, 0, 0.49), 4%, rgba(0, 0, 0, 0), 100%)
				width 100%
				height 100px
				top -50px

	.homesection

		section

			.center-row
			.bottom-row

				.section-btn
					margin-top 300px !important

	.footer
		height auto

@media (min-width: 768px) and (max-width: 991px)

	.footer

		.container

			.footer-copyr-powered
				margin 0px 0 0 0 !important

@media (min-width: 768px) and (max-width: 1199px)

	.secondpage

		.body

			.info

				article

					.col1
					.col2
						width 100%
						float none !important
						left auto
						position relative
						top auto
						transform translateY(0)

					.col1

						.text
							width 60%
							margin 106px auto

	.footer

		.container
			padding 15px 0px

			.footer-portfolio
				text-align left

				input
					min-width auto !important

@media (min-width: 1200px)

	.secondpage

		.body

			.info

				article

					.col1
						width 44.44444%
						position absolute
						top 50%
						transform translateY(-50%)

						.text
							margin 30px auto

					.col2
						width 55.55556%
						float right
