background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
	background startColor
	background -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background linear-gradient(startPoint, startColor startInterval, endColor endInterval)

box-shadow(args...)
	-webkit-box-shadow args
	-moz-box-shadow args
	box-shadow args

transform(args...)
	-webkit-transform args
	-moz-transform args
	-o-transform args
	transform args

backface-visibility(args...)
	-webkit-backface-visibility args
	-moz-backface-visibility args
	-o-backface-visibility args
	backface-visibility args

animation-name(args...)
	animation-name args
	-webkit-animation-name args

animation-duration(args...)
	animation-duration args
	-webkit-animation-duration args

animation-iteration-count(args...)
	animation-iteration-count args
	-webkit-animation-iteration-count args

animation-fill-mode(args...)
	animation-fill-mode args
	-webkit-animation-fill-mode args

animation-delay(args...)
	animation-delay args
	-webkit-animation-delay args

animation-direction(args...)
	animation-direction args
	-webkit-animation-direction args

animation-timing-function(args...)
	animation-timing-function args
	-webkit-animation-timing-function args