/* Custom variables */

$comunicacion = #DE3079
$stand = #BC0B24
$evento = #002B86
$audiovisual = #56ACDE
$digital = #98BF13

$futurafont = 'Yanone Kaffeesatz'

/* Base colors */

$white = #FFFFFF
$black = #1F1410

$gray20 = #333333
$gray33 = #555555
$grey40 = #666666
$gray60 = #999999
$gray80 = #CCCCCC

/* Standard color buttons */

$success-bgc = #5CB85C
$success-bc = #4CAE4C
$success-hover-bgc = #449D44
$success-hover-bc = #398439
$info-bgc = #5BC0DE
$info-bc = #46B8DA
$info-hover-bgc = #31B0D5
$info-hover-bc = #269ABC
$warning-bgc = #F0AD4E
$warning-bc = #EEA236
$warning-hover-bgc = #EC971F
$warning-hover-bc = #D58512
$danger-bgc = #D9534F
$danger-bc = #D43F3A
$danger-hover-bgc = #C9302C
$danger-hover-bc = #AC2925
