#brifeanos
#portfolio

	.modal-content
		color $white !important
		background-color $black !important

		.modal-title
			font-size 23px

		.closeModal
			background-color transparent
			cursor pointer
			float right
			position relative
			background-image none
			border none !important
			border-radius 4px
			height 32px

			.icon-bar
				display block
				height 2px
				border-radius 1px

			.bar-1
				background-color red
				width 32px
				transform rotateZ(45deg) translateX(2px)

			.bar-3
				background-color red
				width 32px
				transform rotateZ(-45deg) translateX(2px)

#brifeanos

	.modal-body
		display inline-block

		.inputModal
			width 100%
			display block
			color $white
			font-family $futurafont
			font-weight 400
			background-color transparent
			text-decoration none
			box-sizing border-box
			border 3px solid $white
			padding 2px 5px
			margin 10px 0px
			word-spacing 0

			&:focus
				outline none

	.modal-footer

		.bri-check
			margin-left 15px
			margin-right 15px
			padding 2px 10px 4px
			text-align left
			border-radius 5px
			display none

			&.bri-error
				display block !important
				background-color $danger-bgc
				border 1px solid $danger-bc

			&.bri-success
				display block !important
				background-color $success-bgc
				border 1px solid $success-bc

		.a_btn2
			height 40px
			padding 8px 22px 0px
			margin 10px 25px
			display inline-block
			width auto
			min-width 210px
			font-size 1em
			position relative
			overflow hidden
			color $white
			font-family $futurafontPosta
			font-weight 400
			letter-spacing 2px
			background-color transparent
			text-decoration none
			text-transform uppercase
			text-align center
			box-sizing border-box
			border 3px solid $white
			zoom 1
			transition 0.5s background-color
			word-spacing 0

			&:hover
			&:focus
				text-decoration none
				color $white
				background-color rgba($white, .2)


