#brifeanos

	.modal-content
		color $white !important
		background-color $black !important

		.modal-title
			font-size 23px

		.closeModal
			background-color transparent
			cursor pointer
			float right
			position relative
			background-image none
			border none !important
			border-radius 4px
			height 32px

			.icon-bar
				display block
				height 2px
				border-radius 1px

			.bar-1
				background-color red
				width 32px
				transform rotateZ(45deg) translateX(2px)

			.bar-3
				background-color red
				width 32px
				transform rotateZ(-45deg) translateX(2px)

