/* Base styles: opinionated defaults */

html
	color #222
	font-size 1em
	line-height 1.4

::selection
	background-color $gray80
	text-shadow none

::-moz-selection
	background-color $gray80
	text-shadow none

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers */

audio
canvas
iframe
img
svg
video
	vertical-align middle

/* Remove default fieldset styles */

fieldset
	border 0
	margin 0
	padding 0

/* Allow only vertical resizing of textareas */

textarea
	resize vertical

/* Browser Upgrade Prompt */

.browserupgrade
	margin 0.2em 0
	background $gray80
	color $black
	padding 0.2em 0

.section
	position relative
	z-index 1

	section

		&:after
			content ""
			display block
			position absolute
			top 0px
			right 0px
			left 0px
			bottom 0px
			z-index -1
			background rgba($black, 0.6)

		.center-row
		.bottom-row
			text-align center
			width 100%
			z-index 2

			.section-title

				.title-img
					display inline-block
					height 200px
					width 200px

				h1
					font-family $futurafont
					font-weight 700
					text-transform uppercase
					color $white

				p
					font-family $futurafont
					color $white

			.section-btn
				margin-top 50px

.a_btn
	width auto
	min-width 210px
	font-size 1em
	position relative
	overflow hidden
	color $white
	font-family $futurafontPosta
	font-weight 400
	letter-spacing 2px
	background-color transparent
	text-decoration none
	text-transform uppercase
	text-align center
	box-sizing border-box
	border 3px solid $white
	zoom 1
	word-spacing 0

	&:before
		content ""
		position absolute
		width 100%
		background-color transparent
		bottom 0
		right 100%
		transition all 0.2s ease-in-out

	&:after
		content ""
		position absolute
		width 100%
		background-color transparent
		top 0
		left 100%
		transition all 0.2s ease-in-out


	&:hover
	&:focus
		text-decoration none
		color $white

		&:before
			right 0

		&:after
			left 0

#portfolio
	width auto
	min-width 210px
	font-size 20px
	position relative
	overflow hidden
	color $white
	font-family $futurafont
	font-weight 400
	letter-spacing 2px
	background-color transparent
	text-decoration none
	text-transform uppercase
	box-sizing border-box
	border 3px solid $white
	zoom 1
	padding 2px 5px
	word-spacing 0

	&:focus
		outline none
