nav

	&.navbar
		background-color transparent
		border none

		&:after
			content ""
			position absolute
			z-index 1000

		#logo
			position absolute
			display block
			left 15%
			width 70px
			height 70px
			padding 5px
			z-index 1050

		.navbar-header

			.navbar-toggle
				border none !important
				z-index 1050

				span
					background-color $white
					transition 0.4s all

				&.closeNav

					.bar-1
						background-color red
						width 32px
						transform rotateZ(45deg) translateX(9px)

					.bar-2
						opacity 0

					.bar-3
						background-color red
						width 32px
						transform rotateZ(-45deg) translateX(8px)


				&:hover
				&:focus
					background-color transparent

				&:hover
					span
						width 24px


		.navbar-collapse
			text-align center
			border-top none !important
			height 100% !important

			ul
				display inline-block
				float none

				li
					position relative
					padding 5px

					a
						color $white
						font-family $futurafont
						font-size 1em
						font-weight 700
						letter-spacing 2px
						padding-bottom 15px
						padding-top 15px
						text-transform uppercase
						z-index 2000
						transition all 0.3s ease

						&:hover
						&:focus
							color $black
							background-color rgba($white, 0.8)

					&.active

						a
							color $black
							cursor default
							background-color $white

						&:hover
						&:focus

							a
								color $black
								background-color $white

					&:hover
					&:focus

						a
							color $black
							background-color rgba($white, 0.8)
