.secondpage

	.header
		background-image url('/images/sections/evento.jpg')
		background-color black
		background-size cover
		position relative
		z-index -100
		height 550px

		&:after
			content ""
			display block
			position absolute
			top 0px
			right 0px
			left 0px
			bottom 0px
			z-index 1
			background rgba($black, 0.5)

		.title
			position fixed
			z-index 2
			top 275px
			text-align center
			width 100%
			color $white
			text-transform uppercase

			h1
				font-size 80px
				font-family $futurafont
				font-weight 700
				margin 0
				padding 0
				text-shadow 0 0 7px $black;

	.body
		margin 0 auto
		height 100%
		position relative
		background-color $black
		z-index 1

		.info
			margin 0
			padding 0

			article
				position relative
				overflow hidden
				background-color $white

				.col1

					.text
						text-align center
						color $black
						padding 0 30px

						h3
							font-size 32px
							line-height 39px
							font-family $futurafont
							text-transform uppercase

						p
							font-size 20px
							display block
							font-family $futurafont
							line-height 23px

				.col2
					margin 0
					padding 0

					img
						width 100%
						display block

				&.inv
					background-color $black

					.col1
						left auto
						right 0

						.text
							color $white

					.col2
						float left
