<div class="secondpage">
  <div class="header">
    <div class="title">
      <h1>AUDIOVISUAL</h1>
    </div>
  </div>
  <section class="body">
    <div class="info row">
      <article class="inv">
        <div class="col1">
          <div class="text">
            <p>Realizamos contenido audiovisual con las tecnologías más avanzadas y el valor agregado de la creatividad que nos identifica.</p>
          </div>
        </div>
         <div class="col2">
          <img src="images/sections/evento.jpg" alt="sv">
        </div>
      </article>
    </div>
    <div class="info row">
      <article>
        <div class="col1">
          <div class="text">
            <p>Construimos instalaciones de interacción con el target objetivo para las campañas de contacto directo.</p>
          </div>
        </div>
         <div class="col2">
          <img src="images/sections/evento.jpg" alt="sv">
        </div>
      </article>
    </div>
  </section>
</div>
