<div class="secondpage">
  <div class="header audiovisualsection">
    <div class="title">
      <h1>AUDIOVISUAL</h1>
    </div>
        <!-- GALERIA -->
        <section id="galery">
          <div class="section-main">
            <div id="galeria" class="carousel slide carousel-fade" data-ride="carousel">
              <!-- SLIDES -->
              <div class="carousel-inner" role="listbox">
                <div class="item">
                  <img src="images/galleries/Audiovisual-Mapping.jpg" data-color="red" alt="Audiovisual Mapping">
                </div>
                <div class="item">
                  <img src="images/galleries/Audiovisual-Proyecciones3d.jpg" data-color="orange" alt="Audiovisual Proyecciones 3D">
                </div>
                <div class="item">
                  <img src="images/galleries/Audiovisual-screen360.jpg" data-color="yellow" alt="Audiovisual Screen 360">
                </div>
              </div><!-- ./SLIDES -->
              <!-- CONTROLES -->
              <a class="left carousel-control carousel-control-left" href="#galeria" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> -->
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control carousel-control-right" href="#galeria" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
                <span class="sr-only">Next</span>
              </a><!-- ./CONTROLES -->
            </div>
          </div>
        </section><!-- ./GALERIA -->
  </div>
  <section class="body">
    <div class="info row">
      <article class="inv">
        <div class="col1">
          <div class="text">
            <p>Realizamos contenido audiovisual con las tecnologías más avanzadas y el valor agregado de la creatividad que nos identifica.</p>
          </div>
        </div>
         <div class="col2">
          <img src="images/galleries/Audiovisual-screen360.jpg" alt="sv">
        </div>
      </article>
    </div>
    <div class="info row">
      <article>
        <div class="col1">
          <div class="text">
            <p>Construimos instalaciones de interacción con el target objetivo para las campañas de contacto directo.</p>
          </div>
        </div>
         <div class="col2">
          <img src="images/galleries/Audiovisual-Mapping.jpg" alt="sv">
        </div>
      </article>
    </div>

  </section>
</div>

<script src="js/galeria.js"></script>