<div class="secondpage">
  <div class="header">
    <div class="title">
      <h1>COMUNICACION CORPORATIVA</h1>
    </div>
  </div>
  <section class="body">
    <div class="info row">
      <article class="inv">
        <div class="col1">
          <div class="text">
            <p>Creemos que los empleados son los primeros clientes de una compañía, por lo que es fundamental una buena comunicación interna.</p>
          </div>
        </div>
         <div class="col2">
          <img src="images/sections/evento.jpg" alt="sv">
        </div>
      </article>
    </div>
    <div class="info row">
      <article>
        <div class="col1">
          <div class="text">
            <p>Construimos experiencias realmente diferentes e inolvidables que logran incentivar a los empleados y agregar valor a la estrategia de la compañía.</p>
          </div>
        </div>
         <div class="col2">
          <img src="images/sections/evento.jpg" alt="sv">
        </div>
      </article>
    </div>
  </section>
</div>
