<div class="secondpage">
  <div class="header">
    <div class="title">
      <h1>DIGITAL</h1>
    </div>
  </div>
  <section class="body">
    <div class="info row">
      <article class="inv">
        <div class="col1">
          <div class="text">
            <p>Hoy en día es fundamental entender el mundo digital para llegar al consumidor a través de los canales que utilizan en su día a día.</p>
          </div>
        </div>
         <div class="col2">
          <img src="images/sections/evento.jpg" alt="sv">
        </div>
      </article>
    </div>
    <div class="info row">
      <article>
        <div class="col1">
          <div class="text">
            <p>Nuestras campañas digitales implican know-how técnico a la hora de activar promociones más la conceptualización de campañas alineadas a la estrategia de la marca.</p>
          </div>
        </div>
         <div class="col2">
          <img src="images/sections/evento.jpg" alt="sv">
        </div>
      </article>
    </div>
  </section>
</div>
