<div class="secondpage">
  <div class="header">
    <div class="title">
      <h1>EVENTOS</h1>
    </div>
  </div>
  <section class="body">
    <div class="info row">
      <article class="inv">
        <div class="col2">
          <img src="images/sections/evento2.jpg" alt="sv">
        </div>
        <div class="col1">
          <div class="text">
            <p>Desde el lanzamiento de un nuevo auto, pasando por un megafestival en la playa con djs internacionales hasta la organización de la fase final del torneo de tenis más importante del mundo.</p>
          </div>
        </div>
      </article>
    </div>
    <div class="info row">
      <article>
        <div class="col2">
          <img src="images/sections/evento3.jpg" alt="sv">
        </div>
        <div class="col1">
          <div class="text">
            <p>Nuestro know-how nos permite adaptarnos a cada una de estas situaciones para crear la mejor experiencia para cada uno de los asistentes, haciéndonos cargo de la totalidad del evento.</p>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>
