<div id="VerticalScrollFullPage">

  <!-- HOME -->
  <div class="section homesection">
    <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" preload="auto" autoplay muted loop>
      <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
      <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
    </video>
    <section>
      <div class="center-row">
        <div class="container">
          <div class="section-title">
            <div class="title-img">
              <img class="img-responsive" src="images/logo1.jpg" alt="NEWS">
            </div>
          </div>
          <div class="section-btn">
            <a class="a_btn" href="#">brifeanos</a>
            <a class="a_btn" href="#">portfolio</a>
          </div>
        </div>
      </div>
    </section>
  </div><!-- ./HOME -->

  <div class="section eventosection">
    <section>
      <div class="center-row">
        <div class="container">
          <div class="section-title">
            <h1>EVENTOS</h1>
            <p>Producimos grandes y pequeños eventos públicos y privados. Eventos artísticos, deportivos, mega shows y festivales. Presentamos y lanzamos nuevos productos</p>
          </div>
          <div class="section-btn">
            <a class="a_btn btn-evento" href="#">Ver mas</a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section standsection">
    <section>
      <div class="center-row">
        <div class="container">
          <div class="section-title">
            <h1>STANDS</h1>
            <p>Diseñamos espacios e instalaciones que comunican, aplicando conceptos y tecnologias para que el visitante viva una verdadera experiencia con la marca</p>
          </div>
          <div class="section-btn">
            <a class="a_btn btn-stand" href="#">Ver mas</a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section comunicacionsection">
    <section>
      <div class="center-row">
        <div class="container">
          <div class="section-title">
            <h1>COMUNICACION CORPORATIVA</h1>
            <p>Convenciones, eventos corporativos, capacitaciones, jornadas de integración, fidelización, motivación. Programas de comunicación interna. Meetings estratégicos, outdoor e indoor</p>
          </div>
          <div class="section-btn">
            <a class="a_btn btn-comunicacion" href="#">Ver mas</a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section audiovisualsection">
    <section>
      <div class="center-row">
        <div class="container">
          <div class="section-title">
            <h1>AUDIOVISUAL</h1>
            <p>Construimos experiencias audiovisuales a la vanguardia de la tecnología mundial: realidad virtual, 3D y 4D, mapping, realidad aumentada, contenido 360 y live streaming</p>
          </div>
          <div class="section-btn">
            <a class="a_btn btn-audiovisual" href="#">Ver mas</a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section digitalsection">
    <section>
      <div class="center-row">
        <div class="container">
          <div class="section-title">
            <h1>DIGITAL</h1>
            <p>Si no está digitalizado no existe. Suena fuerte pero es real. Creamos contenido específico tanto online como mobile y desarrollamos campañas de creatividad digital adaptadas a cada red social según su dinámica</p>
          </div>
          <div class="section-btn">
            <a class="a_btn btn-digital" href="#">Ver mas</a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section mapsection">
    <section>
      <div class="center-row">
          <div id="map"></div>
      </div>
    </section>
  </div>


</div>
