<div class="secondpage">
  <div class="header">
    <div class="title">
      <h1>STANDS</h1>
    </div>
  </div>
  <section class="body">
    <div class="info row">
      <article class="inv">
        <div class="col1">
          <div class="text">
            <p>asas asasa asasa asasa asas asas asa asasas asasa.</p>
          </div>
        </div>
         <div class="col2">
          <img src="images/sections/evento.jpg" alt="sv">
        </div>
      </article>
    </div>
    <div class="info row">
      <article>
        <div class="col1">
          <div class="text">
            <p>asas asasa asasa asasa asas asas asa asasas asasa.</p>
          </div>
        </div>
         <div class="col2">
          <img src="images/sections/evento.jpg" alt="sv">
        </div>
      </article>
    </div>
  </section>
</div>
